@{
    ViewData["Title"] = "Mutantes";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Detector de ADN Mutante.</p>


</div>

<div class="row">
    <div class="col col-md-12">
        <img src="~/img/mutantes_adn.png" class="img-fluid rounded mx-auto d-block" alt="...">
    </div>

</div>
